<!--Breadcrumbs-->
<div class="row">
  <div class="col-12">
    <div class="breadcrumb-custom">
      <div class="breadcrumb-step">
        <a [routerLink]="['/units']">Units</a>
      </div>
      <div class="breadcrumb-divider"> / </div>
      <div class="breadcrumb-step">
        <a [routerLink]="['/units', assignment.unit.id]" *ngIf="assignment">
          {{ assignment.unit.name }}
        </a>
      </div>
      <div class="breadcrumb-divider"> / </div>
      <div class="breadcrumb-step">
        <a [routerLink]="['/assignments', assignment.id]" *ngIf="assignment">
          {{ assignment?.name }}
        </a>
      </div>
      <div class="breadcrumb-divider"> / </div>
      <div class="breadcrumb-step">
        Projects
      </div>
      <div class="breadcrumb-divider"> / </div>
    </div>
  </div>
</div>

<ng-container *rxContext="let ass on assignment$">
  <!--Page Title-->
  <div class="page-title-row">
    <div class="col-12 ">
      <h3 class="page-title">{{ ass.name }}</h3>
      <div class="gear-settings" ngbDropdown>
        <a class="dropdown-toggle" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
          <i class="fa fa-cog" aria-hidden="true"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" >
          <a class="dropdown-item" [routerLink]="['edit']">Edit Assignment</a>
          <a class="dropdown-item" [routerLink]="['/projects/new']">Add Project..</a>
        </div>
      </div>
    </div>

    <div class="col-3 info">
      <dl class="row">
        <dt class="col-3">Start Date:</dt>
        <dd class="col-9">{{ ass.start_date | date:'dd/MM/yyyy' }}</dd>
        <dt class="col-3">End Date:</dt>
        <dd class="col-9">{{ ass.end_date| date:'dd/MM/yyyy' }}</dd>
      </dl>
    </div>
    <div class="col-9 iteration-bar">
      <ced-iterations-bar [height-em]="3"
                          [iterations]="ass.iterations"
                          [project-timespan]="getAssignmentTimespan(ass)">
      </ced-iterations-bar>
    </div>
  </div>

  <ng-container  *rxContext="let project_list on projects">
    <!-- Project table-->
    <div class="row row-component">
      <div class="col-12"  >
        <div class="row projects-table-header">
          <div class="col-1">
          </div>
          <div class="col-4">
            <h6>Project Name</h6>
          </div>
          <div class="col-2">
            <h6>Team Name</h6>
          </div>
          <div class="col-3">
            <h6>Members</h6>
          </div>
          <div class="col-2">
            <h6>Stats</h6>
          </div>
        </div>

        <div class="row project-row" *ngFor="let project of project_list">
          <div class="col-sm-1">
            <a [routerLink]="['/projects', project.id]"><img class="project-image img-fluid" [src]="project.logo || 'http://lorempixel.com/320/240'" src="http://lorempixel.com/320/240" alt=""></a>
          </div>
          <div class="col-sm-4">
            <a [routerLink]="['/projects', project.id]" class="project-title">{{ project.project_name }}</a>
          </div>
          <div class="col-sm-2">
            <a [routerLink]="['/projects', project.id]" class="project-title">{{ project.team_name }}</a>
          </div>
          <div class="col-sm-3 team-avatars">
            <img *ngFor="let student of project.students" [src]="student.avatar_url" placement="top" ngbTooltip="{{student.nickname}}">
          </div>
          <div class="col-sm-2"></div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
