<div class="row row-component" *rxContext="let ass on assignment">

  <h3>{{ ass.name}}</h3>
  <div class="col-12"  >
    <div class="row projects-table-header">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-6">
        <h6>Project Name</h6>
      </div>
      <div class="col-sm-3">
        <h6>Team</h6>
      </div>
      <div class="col-sm-2">
        <h6>Stats</h6>
      </div>
    </div>
    <div  *rxContext="let project_list on projects">
      <div class="row project-row" *ngFor="let project of project_list">
        <div class="col-sm-1">
          <a [routerLink]="['/projects', project.id]"><img class="project-image img-fluid" [src]="project.logo || 'http://lorempixel.com/320/240'" src="http://lorempixel.com/320/240" alt=""></a>
        </div>
        <div class="col-sm-6">
          <a [routerLink]="['/projects', project.id]" class="project-title">{{ project.project_name }}</a>
        </div>
        <div class="col-sm-3 team-avatars">
          <img *ngFor="let student of project.students" [src]="student.avatar_url" placement="top" ngbTooltip="{{student.nickname}}">
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </div>

</div>
