<div class="navbar navbar-fixed-top navbar-light">

  <div class="nav-container" *rxContext="let user on _user">

    <a class="navbar-brand" (click)="onBrandClick()"><i class="fa fa-bars" aria-expanded="false"></i></a>

    <span><a href="#">CapstoneED</a></span>

    <div ngbDropdown *ngIf="user">
      <a aria-haspopup="true" aria-expanded="false" id="header-user-dropdown" ngbDropdownToggle>
        <img src="img/avatar.png" alt="Person Nameoglou">
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="header-user-dropdown">
        <a class="dropdown-item" id="user-menu-info">
          <div id="user-info">{{ user.first_name + ' ' + user.last_name }}</div>
        </a>
        <a class="dropdown-item" href="#">Account</a>
        <a class="dropdown-item" href="#">Settings</a>
        <a class="dropdown-item" href="#"> Logout</a>
      </div>
    </div>

    <div *ngIf="!user">You should login</div>

  </div>

</div>
