

<ced-form-wizard [onFinish]="wizard_onFinish">
  <ced-form-wizard-step [canGoNext]="selectionStep_canGoNext()" [onNext]="selectionStep_onNext" [title]="'Selection'">
    <form [formGroup]="unitSelectionForm" style="margin-top: 20px; margin-left: 20px">
      <!--<div class="form-row">-->
      <div class="form-group row">
        <label class="col-2 col-form-label" for="unitSelect">Select existing unit</label>
        <div class="col-10">
          <select class="custom-select" id="unitSelect" formControlName="unitSelect">
            <option value="0">Select one...</option>
            <option [value]="unit.id" *ngFor="let unit of units">{{unit.name + ', ' + unit.semester + ' ' + unit.year}}</option>
          </select>
        </div>
      </div>

      <!--<div class="form-row">-->
      <div class="form-group">
        <label class="" for="assignmentSelect">Select existing assignment: </label>
        <select class="custom-select" id="assignmentSelect" formControlName="assignmentSelect">
          <option value="0">Select one...</option>
          <option [value]="assignment.id" *ngFor="let assignment of assignments">{{assignment.name}}</option>
        </select>
      </div>
    </form>
  </ced-form-wizard-step>

  <ced-form-wizard-step [canGoNext]="detailsStep_canGoNext()" [onNext]="detailsStep_onNext" [title]="'New Project Details'">
    <div class="well">
      <dl class="row">
        <dt class="col-sm-3">For unit</dt>
        <dd class="col-sm-9">{{ selectedUnit?.name + ', ' + selectedUnit?.semester + ' ' + selectedUnit?.year }}</dd>
        <dt class="col-sm-3">For assignment</dt>
        <dd class="col-sm-9">{{ selectedAssignment?.name }}</dd>
      </dl>
    </div>
    <form [formGroup]="projectDetailsForm">
      <div class="form-group">
        <label for="projectName">Project Name</label>
        <input type="text" class="form-control" id="projectName" formControlName="projectName">
      </div>

      <div class="form-group">
        <label class="form-control-label" for="projectDescription">Description<span class="optional">*</span></label>
        <textarea id="projectDescription" cols="30" rows="10" class="form-control" formControlName="projectDescription"></textarea>
      </div>

      <div class="form-group">
        <label class="form-control-label" for="teamName">Team Name<span class="optional">*</span></label>
        <input type="text" class="form-control" id="teamName" formControlName="teamName">
      </div>


      <div class="from-group">
        <label for="projectKey" class="form-control-label">Project Key</label>
        <div class="input-group">
          <input type="text" class="form-control" id="projectKey" formControlName="projectKey">
          <span class="input-group-addon">
            <label for="autoGenerateKey">
              <input id="autoGenerateKey" type="checkbox" formControlName="autoGenerateKey">Auto generate
            </label>
          </span>
        </div>

      </div>
    </form>
  </ced-form-wizard-step>

  <ced-form-wizard-step [canGoNext]="overviewStep_canGoNext()" [title]="'Confirmation'">
    <p>Please confirm that everything below looks alright, and if it is, hit finish.</p>
    <p>NOTE: Pressing finish will attempt to create the project.</p>

    <div class="well">
      <dl class="row">
        <dt class="col-sm-3">For unit</dt>
        <dd class="col-sm-9">{{ selectedUnit?.name + ', ' + selectedUnit?.semester + ' ' + selectedUnit?.year }}</dd>
        <dt class="col-sm-3">For assignment</dt>
        <dd class="col-sm-9">{{ selectedAssignment?.name }}</dd>
      </dl>
      <hr>
      <dl class="row">
        <dt class="col-sm-3">Project name</dt>
        <dd class="col-sm-9">{{ tempProject?.project_name }}</dd>
        <dt class="col-sm-3">Enrollment key</dt>
        <dd class="col-sm-9">{{ tempProject?.enrollment_key || "Will be auto generated by the server" }}</dd>
        <dt class="col-sm-3">Team name</dt>
        <dd class="col-sm-9">{{ tempProject?.team_name || 'Will be auto generated by the server' }}</dd>
        <dt class="col-sm-3">Project description</dt>
        <dd class="col-sm-9">{{ tempProject?.description }}</dd>
      </dl>
    </div>
  </ced-form-wizard-step>
</ced-form-wizard>
