<!--Edit overlay-->
<div class="animated fadeIn" id="edit-overlay" [hidden]="!removeStudentMode" (click)="toggleRemoveStudentMode()"></div>

<!--Breadcrumbs-->
<div class="row">
  <div class="col-12">
    <div class="breadcrumb-custom">
      <div class="breadcrumb-step">
        <a [routerLink]="['/units', unit.id]" *ngIf="unit">{{ unit.name }}</a>
      </div>
      <div class="breadcrumb-divider"> / </div>
      <div class="breadcrumb-step">
        <a [routerLink]="['/assignments', assignment.id]" *ngIf="assignment">
          {{ assignment.name }}
        </a>
      </div>
      <div class="breadcrumb-divider"> / </div>
      <div class="breadcrumb-step">
        <a [routerLink]="['/projects', project.id]" *ngIf="project">
          {{ project.project_name }}
        </a>
      </div>
    </div>
  </div>
</div>

<!--Page Title-->
<div class="page-title-row">
  <div class="col-12 ">
    <h3 class="page-title">{{ project?.project_name }}</h3>
    <div class="gear-settings" ngbDropdown>
      <a class="dropdown-toggle" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
        <i class="fa fa-cog" aria-hidden="true"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" >
        <a class="dropdown-item" [routerLink]="['edit']">Edit Project</a>
        <a class="dropdown-item" (click)="toggleRemoveStudentMode()">Remove Student</a>
        <!--<a class="dropdown-item">Give Extension</a>-->
      </div>
    </div>
  </div>
</div>

<div class="row row-component no-white">
  <div class="details">
    <h5>Details</h5>
    <hr>
    <ng-container *ngIf="unit">
      <div class="details-row" >
        <span>Unit</span>
        <span>{{unit.name}}</span>
      </div>
      <div class="details-row">
        <span>Semester</span>
        <span>{{unit.semester}}</span>
      </div>
      <div class="details-row">
        <span>Year</span>
        <span>{{unit.year}}</span>
      </div>
    </ng-container>

    <div class="details-row" *ngIf="assignment">
      <span>Assignment</span>
      <span>{{assignment.name}}</span>
    </div>
    <ng-container *ngIf="project">
      <div class="details-row">
        <span>Team Name</span>
        <span>{{project.team_name}}</span>
      </div>
      <h6>Description</h6>
      <p>
        {{project.description}}
      </p>
    </ng-container>

  </div>
  <div class="students-container column-white" *ngIf="project" [class.remove-on]="removeStudentMode">
    <div class="row no-gutters">
      <div class="col-12">
        <h5>Students ({{project.students.length}})</h5>
        <hr>
      </div>
      <div class="student" *ngFor="let student of project.students">
        <img class="student-avatar" [src]="student.avatar_url">
        <span class="remove-student-button animated swing infinite" (click)="removeStudent(student.id)">
          <i class="fa fa-times" aria-hidden="true"></i>
        </span>
        <p class="student-name">{{ student.first_name + " " + student.last_name }}</p>
      </div>
    </div> <!--row-->
  </div> <!-- students-->
</div>

<div class="chart-row">
  <div class="chart">
    <h4>Hours worked for each Student and Average</h4>
    <ced-hours-worked-project [projectId]="project_id"></ced-hours-worked-project>
  </div>

  <div class="chart">
    <h4>Estimated current Project completion by each student and Lecturer</h4>
    <ced-percent-completion [projectId]="project_id"></ced-percent-completion>
  </div>
</div>

<div class="chart-row">
  <div class="chart">
    <h4>Logs heatmap for project</h4>
    <ced-logs-heatmap [projectId]="project_id"></ced-logs-heatmap>
  </div>
</div>

