<!--Edit overlay-->
<div class="animated fadeIn" id="edit-overlay" [hidden]="!removeStudentMode" (click)="toggleRemoveStudentMode()"></div>

<!--Breadcrumbs-->
<div class="row">
  <div class="col-12">
    <div class="breadcrumb-custom">
      <div class="breadcrumb-step">
        <a [routerLink]="['/units']">Units</a>
      </div>
      <div class="breadcrumb-divider"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </div>
      <div class="breadcrumb-step">
        <a [routerLink]="['/units', unit.id]" *ngIf="unit">Industrial Software Project</a>
      </div>
    </div>
  </div>
</div>

<!--Page Title-->
<div class="page-title-row">
  <div class="col-12 ">
    <h3 class="page-title">{{ project?.project_name }}</h3>
    <div class="project-settings" ngbDropdown>
      <a class="dropdown-toggle" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
        <i class="fa fa-cog" aria-hidden="true"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" >
        <a class="dropdown-item">Edit Project</a>
        <a class="dropdown-item" (click)="toggleRemoveStudentMode()">Remove Student</a>
        <a class="dropdown-item">Give Extension</a>
      </div>
    </div>
  </div>
</div>

<!--Description-->
<div class="row row-component">
    <div class="project-description-column">
      <h5>Description</h5>
      <p class="project-description">
        {{ project?.description }}
      </p>
    </div>

    <div class="project-info-column">
      <div class="dates">
        <div class="start-date">
          <i class="fa fa-hourglass-start" aria-hidden="true"></i> {{ assignment?.start_date }}
        </div>
        <div class="end-date">
          <i class="fa fa-hourglass-end" aria-hidden="true"></i> {{ assignment?.end_date }}
        </div>
        <div class="semester-year">
          <i class="fa fa-calendar" aria-hidden="true"></i> {{ unit?.semester + " " + unit?.year }}
        </div>
      </div> <!--row-component-->
    </div> <!--project-info-column-->
</div>

<!-- Students and Stats -->
<div class="row">
    <div class="stats-container">
      <div class="row no-gutters">
        <div class="widget" *ngFor="let number of [0, 1, 2, 3]">
            <div class="widget-inner d-flex align-items-sm-center flex-wrap flex-row">
              <i class="fa fa-heart tile-icon" id="icon-health"></i>
              <div class="d-flex flex-column ml-auto">
                <span class="description"> Project Health</span>
                <span class="value"> 
                  <i class="fa fa-chevron-right" id="icon-health-indicator"></i> 80%
                </span>
              </div>
            </div>
        </div> 
      </div>
    </div>  

    <div class="students-container" *ngIf="project" [class.remove-on]="removeStudentMode">
      <div class="row no-gutters">
          <div class="col-12">
              <h5>Students ({{project.students.length}})</h5>
          </div>
          <div class="student" *ngFor="let student of project.students">
              <img class="student-avatar" [src]="student.avatar_url">
              <span class="remove-student-button animated swing infinite" (click)="removeStudent(student.id)">
                  <i class="fa fa-times" aria-hidden="true"></i>
              </span>
              <p class="student-name">{{ student.first_name + " " + student.last_name }}</p>
          </div>
      </div> <!--row-->
    </div> <!-- students-->
</div> <!-- row -->
