@import "../../../../style/global-variables";
@import "../../../../style/lecturer-common";

// Edit Overlay
#edit-overlay {
	height: 100vh;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.73);;
	z-index: 1000;
	position: absolute;
	top: -26px;
	left: 0;
}

.page-title {
  @extend .page-title;
}

.project-description {
  font-size: $font-size-project-description;
}

.project-description-column {
  @extend .col-12;
  @extend .col-sm-7;
  @extend .col-md-8;
}

.project-info-column {
  @extend .col-12;
  @extend .col-md-3;
  @extend .col-sm-5;
  @extend .offset-md-1;

  text-align: right;
  padding-left: 10px;
  font-size: $font-size-project-info-column;
  line-height: 25px;

  .dates {
    color: $project-info-column-font-color;

    text-align: center;
    // padding-left: 0;
    // padding-right: 0;
    .start-date, .end-date, .semester-year {
      @extend .col-12;
    }
  }
}

.widget {
  @extend .col-12;  
  @extend .col-sm-6;

	margin-bottom: 25px;
	border-radius: 3px;

  .widget-inner {
    padding: 20px;
    background-color: white;
  }

  .container-fluid {
    background-color: white;
  }

	& > .row {
		margin-right: 0;
		margin-left: 0;
	}

  i.tile-icon {
    font-size: 3.5em;
  }
}

.widget.widget-tile .data {

	& > .row > .tile-attribute {
	    overflow: hidden;
	    font-size: 0.88em;
	}

	& > .row > .tile-value {
		font-size: 1.38em;
	}
}

.stats-container {
  @extend .col-12;
  @extend .col-lg-6;

	padding: 0;
}

##{icon-health} {

	& {
		color: $red;
	}

	&-indicator {
		color: $red;
	}
}

##{icon-morale} {

	& {
		color: $green;
	}

	&-indicator {
		color: $green;
	}
}

##{icon-completion} {

	& {
		color: $yellow;
	}

	&-indicator {
		color: $yellow;
	}
}

##{icon-peer-assessement} {

	& {
		color: $blue;
	}

	&-indicator {
		color: $blue;
	}
}

.students-container {
  @extend .col-12;
  @extend .col-lg-6;

  &.remove-on span.remove-student-button {
		display: block;
	}

  .student {
    @extend .col-4;
    @extend .col-xl-3;

    z-index: 1001;
    
    .student-name {
      text-align: center;
    } 
  }

  span.remove-student-button {
    display: none;
    position: absolute;
    top: 0;
    right: 5%;
    z-index: 10000;

    i {
        color: red;
        line-height: 0;
        font-size: 1.7rem;
    }
  }     

  .student-avatar {
    @extend .mx-auto;
    @extend .d-block;
    @extend .img-fluid;

    width: 100%;
    height: 100%;
    max-width: 80px;
    max-height: 80px;
    margin-right: 10px;
    border-radius: 50%;

    &:hover {
      transition: .1s ease;
      border: 5px solid rgb(96, 152, 244);
    }
  }  
}
