:host {
  display: flex;
  .bags-wrapper {
    width: 100%;
    display: flex;

    .bag {
      display: flex;
      flex-direction: column;
      width: 50%;

      .all-questions {
        border: 2px solid black;
        min-height: 50px;
        max-height: 300px;
        overflow-y: auto;
        height: 100%;

        .list-group-item {
          display: block;

          &.extra {
            background-color: #4CAF50;
            color: white;
          }
        }
      }

      .form-questions {
        border: 2px solid black;
        min-height: 50px;
        max-height: 300px;
        overflow-y: auto;
        height: 100%;

        .list-group-item {
          display: block;
        }
      }
    }
  }
}
