:host {
  display: flex;
  .bag-wrapper {
    width: 100%;
    display: flex;

    .all-questions {
      min-width: 50%;
      border: 2px solid black;
      min-height: 50px;
      max-height: 300px;
      overflow-y: auto;
      .list-group-item {
        display: block;

        &.extra {
          background-color: #4CAF50;
          color: white;
        }
      }
    }

    .form-questions {
      min-width: 50%;
      border: 2px solid black;
      min-height: 50px;
      max-height: 300px;
      overflow-y: auto;
      .list-group-item {
        display: block;
      }
    }
  }
}
