$goal-width: 10px;

:host {
  display: block;

  .rankings-display {
    display: block;
    padding-right: 2em;
    position: relative;
    background-color: white;

    z-index: 0;


    .team-name {
      padding-left: 1em;
      font-size: 0.94em;
      align-self: center;
      color: white;
      text-shadow: 0px 1px 9px black;
      // text-shadow:
      //   -1px -1px 0 #000,
      //   1px -1px 0 #000,
      //   -1px 1px 0 #000,
      //   1px 1px 0 #000;
    }
  }
}
