<ul class="sidebar-nav">
  <li class="sidebar-brand">
    <a href="home" id="sidebar-brand-link">
      CapstoneED
    </a>
  </li>
  <li class="divider">Menu</li>
  <li routerLinkActive="active">
    <a [routerLink]="['/home']"><i class="fa fa-home"></i> Dashboard</a>
  </li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a [routerLink]="['/units']"><i class="fa fa-diamond"></i> Units</a>
  </li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a [routerLink]="['/form-templates']"> <i class="fa fa-cloud"></i> Form Templates</a>
  </li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a [routerLink]="['/beta-test']"><i class="fa fa-behance-square" aria-hidden="true"></i> Beta Test</a>
  </li>

  <li class="divider">Actions</li>
  <li routerLinkActive="active">
    <a [routerLink]="['/units', 'new']"><i class="fa fa-superpowers"></i> New Unit</a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="['/projects', 'new']"> <i class="fa fa-bomb"></i> New Project</a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="['/assignments', 'new']"> <i class="fa fa-bomb"></i> New Assingment</a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="['/peer-assessments', 'new']"> <i class="fa fa-bomb"></i>New Peer Assessment</a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="['/form-templates', 'new']"> <i class="fa fa-bomb"></i>New Form Template</a>
  </li>

  <!--<li>-->
    <!--<a href="#"> <i class="fa fa-legal"></i> Contact</a>-->
  <!--</li>-->
</ul>
