<ced-form-wizard >
  <ced-form-wizard-step [title]="'Create Unit'" [canGoNext]="canSubmit()" [onFinish]="submitForm" >
    <form [formGroup]="unitForm" class="form-step-wizard">
      <div class="form-group form-row row">
        <label class="col-2" for="unitNameInput">Name:</label>
        <input type="text" class="col-6 form-control" id="unitNameInput" placeholder="Unit Name" formControlName="name">
      </div>
      <div class="form-group form-row row">
        <label class="col-2" for="unitCodeInput">Code:</label>
        <input type="text" class="col-6 form-control" id="unitCodeInput" placeholder="Unit Code" formControlName="code">
      </div>
      <div class="form-group form-row row">
        <label class="col-2" for="unitSemesterInput">Semester:</label>
        <input type="text" class="col-6 form-control" id="unitSemesterInput" placeholder="e.g. Autumn, Spring" formControlName="semester">
      </div>
      <div class="form-group form-row row">
        <label class="col-2" for="unitYearInput">Year:</label>
        <input type="number" class="col-6" name="unitYearInput" id="unitYearInput" min="{{ currentYear - 2 }}" max="{{ currentYear }}" step="1" value="{{ currentYear }}" formControlName="year">
      </div>

      <div class="form-group form-row row">
        <div class="col-12">
          <h5>Department Details</h5>
        </div>
      </div>

      <div class="form-group form-row row">
        <label class="col-2" for="unitDepartmentNameInput">Deparment Name:</label>
        <input type="text" formControlName="departmentName" class="col-6 form-control" id="unitDepartmentNameInput" placeholder="e.g. Computer Science">
      </div>

      <div class="form-group form-row row">
        <label class="col-2" for="unitDepartmentNameInput">University Name:</label>
        <input type="text" formControlName="departmentUniversity" class="col-6 form-control" id="unitDeparmentUniversityInput" placeholder="e.g. University of Sheffield">
      </div>
    </form>
  </ced-form-wizard-step>
</ced-form-wizard>
