<div class="container-fluid" id="main-content">

  <div class="row row-component">
    <div class="col-12">
      <h3 id="page-title" class="float-left">{{ loadedUnit?.name }}</h3>
      <div class="float-right" id="project-settings" ngbDropdown>
        <button class="dropdown-toggle"aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
          <i class="fa fa-cog" aria-hidden="true"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <h6 class="dropdown-header"> Unit Settings</h6>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#editProjectModal">Edit Unit</a>
          <a class="dropdown-item" href="#" id="menu-item-remove-student">Remove Student</a>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#giveExtensionModal">Give Extension</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-component">
    <div class="col-12">
      <div class="row projects-table-header">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-6">
          <h6>Project Name</h6>
        </div>
        <div class="col-sm-3">
          <h6>Team</h6>
        </div>
        <div class="col-sm-2">
          <h6>Stats</h6>
        </div>
      </div>
      <div class="row project-row" *ngFor="let assignment of loadedAssignments">
        <div class="col-sm-1">
          <img class="project-image img-fluid" src="http://lorempixel.com/320/240" alt="">
        </div>
        <div class="col-sm-6">
          <a class="project-title">{{ assignment.name }}</a>
        </div>
        <div class="col-sm-3 team-avatars">
          <img src="img/face1.png">
          <img src="img/face6.png">
          <img src="img/face3.png">
          <img src="img/face7.png">
          <img src="img/face5.png">
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </div> <!-- row-component -->

</div>


