@import "../../../../style/global-variables";
@import "../../../../style/lecturer-common";

$datatable-header-divider-color: #d0d0d0;
$datatable-expanded-row-bg-color: whitesmoke;
input.form-control {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 30%;
    font-size: 1rem;
    margin: 0 auto 23px;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;    
}
/deep/ { 

    // Table header
    .ngx-datatable .datatable-header {
        border-bottom: 1px solid $datatable-header-divider-color;
        margin-bottom: 1rem;        
    }

    // Table Header cells
    .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
        color: black;
        font-weight: 700;
    }

    // Table row
    .ngx-datatable .datatable-body .datatable-row-wrapper {
        padding: 10px 0;
        padding-bottom: 34px;

        &:hover {
            background: $datatable-expanded-row-bg-color;
        }

        // When expanded, remove the padding-bottom to show the detail correctly
        &[ng-reflect-expanded=true] {
            padding-bottom: initial;
        }
    }

    // Table row detail
    .datatable-row-detail {
        background: $datatable-expanded-row-bg-color;

        .detail-wrapper {
            padding: 16px;
            padding-left: 49px;
        }
    }

    // First column (the one that expands)
    .datatable-body-row .datatable-body-cell:first-child {
        text-align: center;
    }

}