<ced-form-wizard>
  <ced-form-wizard-step [canGoNext]="selectionStep_CanGoNext()" [onNext]="selectionStep_OnNext" [title]="'Unit Selection'">
    <form [formGroup]="unitSelectionForm">
      <div class="form-row">
        <label class="" for="unitSelect">Select existing unit</label>
        <select class="custom-select" id="unitSelect" formControlName="unitSelect">
          <option value="0">Select one...</option>
          <option [value]="unit.id" *ngFor="let unit of units">{{unit.name + ', ' + unit.semester + ' ' + unit.year}}</option>
        </select>
      </div>
    </form>
    <p class="lead">Couldn't find what you were looking for? Try one of these:</p>
    <div class="btn-group" role="group" aria-label="Create new">
      <button type="button" class="btn btn-secondary" [routerLink]="['/units', 'new']">Create new unit</button>
    </div>
  </ced-form-wizard-step>
  <ced-form-wizard-step [canGoNext]="detailsStep_CanGoNext()" [onNext]="detailsStep_OnNext" [title]="'Assignment Details'">
    <form [formGroup]="assignmentDetailsForm">
      <div class="form-group">
        <label for="assignmentName" class="form-control-label">Name</label>
        <input id="assignmentName" class="form-control" formControlName="name">
      </div>

      <div class="form-row">
        <label for="startDate" class="form-control-label">Start Date</label>
        <div class="input-group">
          <span class="input-group-addon" (click)="sd.toggleCalendar();$event.stopPropagation()"><i class="fa fa-calendar"></i></span>
          <input class="form-control" placeholder="yyyy-mm-dd" ngx-mydatepicker #sd="ngx-mydatepicker" id="startDate" formControlName="startDate">
        </div>
      </div>

      <div class="form-row">
        <label for="startDate" class="form-control-label">End Date</label>
        <div class="input-group">
          <span class="input-group-addon" (click)="ed.toggleCalendar();$event.stopPropagation()"><i class="fa fa-calendar" ></i></span>
          <input class="form-control" placeholder="yyyy-mm-dd" ngx-mydatepicker #ed="ngx-mydatepicker" id="endDate" formControlName="endDate">
        </div>
      </div>

    </form>

  </ced-form-wizard-step>

  <ced-form-wizard-step [title]="'Iterations'">

  </ced-form-wizard-step>

  <ced-form-wizard-step [canGoNext]="overviewStep_CanGoNext()" [onFinish]="overviewStep_OnNext" [title]="'Overview'">
    <h1>Overview</h1>
    <p>Please confirm that everything below looks alright, and if it is, hit finish.</p>
    <p>NOTE: Pressing finish will attempt to create the assignment.</p>

    <div class="well">
      <dl class="row">
        <dt class="col-sm-3">For unit</dt>
        <dd class="col-sm-9">{{ selectedUnit?.name + ', ' + selectedUnit?.semester + ' ' + selectedUnit?.year }}</dd>
      </dl>
      <hr>
      <dl class="row">
        <dt class="col-sm-3">Assignment name</dt>
        <dd class="col-sm-9">{{ tempAssignment?.name }}</dd>
        <dt class="col-sm-3">Start Date</dt>
        <dd class="col-sm-9">{{ tempAssignment.start_date }}</dd>
        <dt class="col-sm-3">End Date</dt>
        <dd class="col-sm-9">{{ tempAssignment.end_date }}</dd>
      </dl>
    </div>
  </ced-form-wizard-step>
</ced-form-wizard>
