<ng-container [ngTemplateOutlet]="loading" *ngIf="!_assignment"></ng-container>
<ng-container [ngTemplateOutlet]="done_loading" *ngIf="_assignment"></ng-container>



<ng-template #loading>Awaiting data...</ng-template>
<ng-template #done_loading>
  <form [formGroup]="iterationsForm">
    <h2>
      Edit Iterations
      <button class="btn btn-success add-new-button"
              *ngIf="_assignment"
              (click)="addIterationGroup()"
              ngbTooltip="Add a new iteration at the end"
              placement="left"
              triggers="hover click:blur">
        Add
      </button>
    </h2>
    <div class="iterations-container" formArrayName="iterations" [style.justify-content]="getJustifyContent()">

      <div class="card"  *ngFor="let iteration of _iterations; let i=index" [formGroupName]="i">
        <div class="card-header">
          <h4 class="card-title">{{iteration.name || 'Iteration' + (i+1)}}</h4>
          <button class="btn btn-danger btn-sm">
            <i class="fa fa-ban" (click)="removeIterationAt(i)"></i>
          </button>
        </div>
        <div class="card-block">
          <label  for="iterationName{{i}}">Iteration Name</label>
          <input type="text" id="iterationName{{i}}" class="form-control" formControlName="name" [(ngModel)]="iteration.name">
          <div class="errors">
            <span class="text-danger" *ngIf="checkForError(iterationsArray.at(i), 'name', 'required')">* The iteration name is required</span>
          </div>

          <label for="iterationStartDate{{i}}">Start Date</label>
          <div class="input-group">
            <span class="input-group-addon" (click)="sd.toggleCalendar();$event.stopPropagation()"><i class="fa fa-calendar" ></i></span>
            <input class="form-control"
                   placeholder="yyyy-mm-dd"
                   ngx-mydatepicker
                   #sd="ngx-mydatepicker"
                   [options]="datePickerOptions"
                   id="iterationStartDate{{i}}"
                   [(ngModel)]="iteration.start_date"
                   formControlName="startDate">
          </div>
          <div class="errors">
            <span class="text-danger" *ngIf="checkForError(iterationsArray.at(i), 'startDate', 'required')">* The iteration start date is required</span>
            <span class="text-danger" *ngIf="checkForError(iterationsArray.at(i), 'startDate', 'dateNotBefore')">* The start date cannot be before the assignment's start date</span>
            <span class="text-danger" *ngIf="checkForError(iterationsArray.at(i), 'startDate', 'dateNotAfter')">* The start date cannot be after the assignment's end date</span>
            <span class="text-danger" *ngIf="checkForError(iterationsArray.at(i), 'startDate', 'dateNotBeforeControl')">* The start date cannot be before the previous deadline</span>
          </div>

          <label for="iterationDeadline{{i}}">Deadline</label>
          <div class="input-group">
            <span class="input-group-addon" (click)="ed.toggleCalendar();$event.stopPropagation()"><i class="fa fa-calendar" ></i></span>
            <input class="form-control"
                   placeholder="yyyy-mm-dd"
                   ngx-mydatepicker
                   #ed="ngx-mydatepicker"
                   [options]="datePickerOptions"
                   id="iterationDeadline{{i}}"
                   [(ngModel)]="iteration.deadline"
                   formControlName="deadline">
          </div>
          <div class="errors">
            <span class="text-danger" *ngIf="checkForError(iterationsArray.at(i), 'deadline', 'required')">* The iteration deadline is required</span>
            <span class="text-danger" *ngIf="checkForError(iterationsArray.at(i), 'deadline', 'dateNotBefore')">* The iteration deadline cannot be before the assignment's start date</span>
            <span class="text-danger" *ngIf="checkForError(iterationsArray.at(i), 'deadline', 'dateNotAfter')">* The iteration deadline cannot be after the assignment's end date</span>
            <span class="text-danger" *ngIf="checkForError(iterationsArray.at(i), 'deadline', 'dateNotBeforeControl')">* The deadline cannot be before the start date</span>
            <span class="text-danger" *ngIf="checkForError(iterationsArray.at(i), 'deadline', 'dateNotAfterControl')">* The deadline cannot be after the next start date</span>

          </div>
        </div>
        <button class="btn btn-success add-button"
                (click)="addIterationGroupAt(i)"
                ngbTooltip="Add a new iteration after this one"
                placement="left"
                triggers="hover click:blur"
                [disabled]="!iterationsArray.at(i).valid">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>


  </form>
</ng-template>
