:host {
  display: flex;
  justify-content: center;

  form {
    width: 60%;
    background-color: white;
    padding: 2em;

    .iterations-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .card {
        &:nth-of-type(odd) {
          margin-right: 1em;
        }

        .card-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }

  & /deep/ .ngxmdp {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
