<!--Breadcrumbs-->
<div class="row">
  <div class="col-12">
    <div class="breadcrumb-custom">
      <div class="breadcrumb-step">
        <a [routerLink]="['/form-templates']">Form Templates</a>
      </div>
      <div class="breadcrumb-divider"> / </div>
    </div>
  </div>
</div>

<!--Page Title-->
<div class="page-title-row">
  <div class="col-12 ">
    <h3 class="page-title">My Form Templates</h3>
  </div>
</div>

<div class="row-component">
  <div class="form-group search-group">
    <input #search_input type="text" placeholder="Filter by template name..." class="form-control search">
    <span class="lead">You can use the search on the left to filter through your templates. Clicking on a template will show a preview. Use the pencil button to edit the template.</span>
  </div>

  <div class="list-and-display">

    <div class="template-list">
      <h4>My Templates</h4>
      <hr>
      <div class="list-group template-list-group" *ngIf="filteredFormTemplates.length > 0">
        <div *ngFor="let template of filteredFormTemplates; let i = index"
             class="list-group-item list-group-item-action template-item"
             [ngClass]="{ 'active': template.id == selectedFormTemplate.id }"
             (click)="selectTemplate(i)">
          <span class="template-name">{{ template.name }}</span>
          <button class="btn btn-sm btn-default btn-edit" (click)="editTemplate(template.id, $event)">
            <i class="fa fa-pencil"></i>
          </button>
        </div>
      </div>
      <p *ngIf="filteredFormTemplates.length == 0">No templates found</p>
    </div>


    <div class="template-preview">
      <h4>Template Preview</h4>
      <hr>
      <div class="template-details" *ngIf="selectedFormTemplate.id != 0">
        <dl class="template-details--name">
          <dt class="template-details--name-label">Name</dt>
          <dd class="template-details--name-text">{{selectedFormTemplate.name}}</dd>
        </dl>
        <h5>Questions</h5>
        <div class="list-group">
          <div *ngFor="let question of selectedFormTemplate.questions" class="list-group-item">
            <div class="d-flex w-100">
              {{ question.text }}
            </div>
            <small><b>Question Type:</b> {{ question.question_type.friendly_name }}</small>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


