<!--Breadcrumbs-->
<div class="row">
  <div class="col-12">
    <div class="breadcrumb-custom">
      <div class="breadcrumb-step">
        <a [routerLink]="['/units']">Units</a>
      </div>
      <div class="breadcrumb-divider"> / </div>
      <div class="breadcrumb-step">
        <a [routerLink]="['/units', unit.id]" *ngIf="unit">{{ unit.name }}</a>
      </div>
      <div class="breadcrumb-divider"> / </div>
    </div>
  </div>
</div>

<!--Page Title-->
<div class="page-title-row">
  <div class="col-12 ">
    <h3 class="page-title" *ngIf="unit">{{ unit.code }} {{ unit.name }} - {{ unit.semester }}  {{ unit.year }}</h3>
    <h3 class="page-title" *ngIf="!unit">Loading data...</h3>
    <div class="gear-settings" ngbDropdown *ngIf="unit">
      <a class="dropdown-toggle" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
        <i class="fa fa-cog" aria-hidden="true"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" >
        <a class="dropdown-item" [routerLink]="['edit']">Edit Unit</a>
        <a class="dropdown-item" (click)="archiveUnit()">Archive Unit</a>
      </div>
    </div>
  </div>
</div>

<div class="row row-component" *ngIf="assignments.length > 0">
  <div class="col-12 ">
    <h4>Assignments for unit {{ unit.name }}</h4>
    <hr>
  </div>

  <div class="col-12 column-white">
    <ngb-tabset>
      <ngb-tab *ngFor="let assignment of assignments">
        <template ngbTabTitle>{{ assignment.name }}</template>
        <template ngbTabContent>
          <ced-assignment-overview [assignment]="assignment" [projects]="projects"></ced-assignment-overview>
        </template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>

<div class="row row-component" *ngIf="!unit">
  <div class="col-12">
    There appears to be nothing here. Go back to <a [routerLink]="['/units']">Units</a>
  </div>
</div>
