:host {
  display: flex;
  .bags-wrapper {
    width: 100%;
    display: flex;

    .bag {
      display: flex;
      flex-direction: column;
      width: 50%;

      .all-questions {
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 0.25rem;
        min-height: 50px;
        max-height: 300px;
        overflow-y: auto;
        height: 100%;
        margin: 0.4rem;

        .list-group-item {
          display: block;
        }
      }

      .form-questions {
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 0.25rem;
        min-height: 50px;
        max-height: 300px;
        overflow-y: auto;
        height: 100%;
        margin: 0.4rem;

        .list-group-item {
          display: block;
        }
      }
    }
  }
}
