<div *ngIf="!project">
    NO project
</div>

<!--Breadcrumbs-->
<div class="row">
  <div class="col-12">
    <div class="breadcrumb-custom">
      <div class="breadcrumb-step">
        <a [routerLink]="['/units', unit.id]" *ngIf="unit">{{ unit.name }}</a>
      </div>
      <div class="breadcrumb-divider"> / </div>
      <div class="breadcrumb-step">
        <a [routerLink]="['/assignments', assignment.id]" *ngIf="assignment">
          {{ assignment.name }}
        </a>
      </div>
      <div class="breadcrumb-divider"> / </div>
      <div class="breadcrumb-step">
        <a [routerLink]="['/projects', project.id]" *ngIf="project">
          {{ project.project_name }}
        </a>
      </div>
      <div class="breadcrumb-divider"> / </div>
      <div class="breadcrumb-step">
        <a [routerLink]="['/projects', project.id, 'edit']" *ngIf="project">
          edit
        </a>
      </div>
    </div>
  </div>
</div>

<!--main Edit area-->
<div class="edit-project-container row row-component highlight-border" *ngIf="project else noProject">
  <div class="page-title-subtitle">

    <div class="col-12">
      <h4 class="page-title">{{ project?.project_name }}</h4>
    </div>
    <div class="col-12">
      <p class="page-subtitle">Edit Project information</p>
    </div>
    <div class="col-12">
      <a [routerLink]="['/projects', project.id]" *ngIf="project">
        <button class="btn btn-default back-button"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
      </a>
    </div>
  </div>

  <div class="tabs col-12">
    <h4>Project Info</h4>
    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="editGroupForm">

      <div class="form-group row">
        <label for="projectName" class="col-12 col-lg-2 col-form-label">Project Name</label>
        <div class="col-12 col-md-8 col-lg-4">
          <input class="form-control" id="projectName" type="text" formControlName="project_name">
          <div class="errors" ngxErrors="project_name">
            <span class="text-danger" ngxError="required">* The project name is required</span>
            <span class="text-danger" ngxError="notNullOrWhitespace">* The project name cannot be empty or whitespace</span>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="teamName" class="col-12 col-lg-2 col-form-label">Team Name</label>
        <div class="col-12 col-md-8 col-lg-4">
          <input class="form-control" id="teamName" type="text" formControlName="team_name">
          <div class="errors" ngxErrors="team_name">
            <span class="text-danger" ngxError="required">* The team name is required</span>
            <span class="text-danger" ngxError="notNullOrWhitespace">* The team name cannot be empty or whitespace</span>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="description" class="col-12 col-lg-2 col-form-label">Description</label>
        <div class="col-12 col-md-8 col-lg-4">
          <textarea class="form-control" type="text" id="description" formControlName="description">
          </textarea>
          <div class="errors" ngxErrors="description">
            <span class="text-danger" ngxError="required">* The team name is required</span>
            <span class="text-danger" ngxError="notNullOrWhitespace">* The team name cannot be empty or whitespace</span>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="enrollmentKey" class="col-12 col-lg-2 col-form-label">Enrollment key</label>
        <div class="col-12 col-md-8 col-lg-4">
          <input class="form-control" type="text" id="enrollmentKey" formControlName="enrollment_key">
          <div class="errors" ngxErrors="enrollment_key">
            <span class="text-danger" ngxError="required">* The team name is required</span>
            <span class="text-danger" ngxError="notNullOrWhitespace">* The team name cannot be empty or whitespace</span>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="logo" class="col-12 col-lg-2 col-form-label">Logo</label>
        <div class="col-12 col-md-8 col-lg-4">
          <input class="form-control" type="file" id="logo" accept="image/*" (change)="onNewImage($event)">
        </div>
      </div>
      <button type="submit" [disabled]="!editGroupForm.valid && editGroupForm.dirty" class="btn btn-primary">Submit</button>
    </form>
</div>

</div>

<template #noProject>No Project was found here. Go back to <a [routerLink]="['/projects']">Projects</a></template>
