@import "../../../../style/global-variables";
@import "../../../../style/lecturer-common";

.edit-project-container {
   //padding-top: 0;
}

.back-button {
   box-shadow: none;
   padding: 0;
   padding-bottom: 8px;
}

.page-title-subtitle {
    padding-bottom: 0;
}

.errors {
  span {
    display: block;
  }
}
