<div *ngIf="!project">
    NO project
</div>

<!--Breadcrumbs-->
<div class="row">
  <div class="col-12">
    <div class="breadcrumb-custom">
      <div class="breadcrumb-step">
        <a [routerLink]="['/units']">Units</a>
      </div>
      <div class="breadcrumb-divider"> / </div>
      <div class="breadcrumb-step">
        <a [routerLink]="['/units', unit.id]" *ngIf="unit">{{ unit.name }}</a>
      </div>
      <div class="breadcrumb-divider"> / </div>
      <div class="breadcrumb-step">
        <a [routerLink]="['/units', unit.id]" *ngIf="unit">Projects</a>
      </div>
      <div class="breadcrumb-divider"> / </div>
      <div class="breadcrumb-step">
        <a [routerLink]="['/projects', project.id]" *ngIf="project">{{ project.project_name }}</a>
      </div>      
    </div>
  </div>
</div>

<!--main Edit area-->
<div class="edit-project-container row row-component highlight-border" *ngIf="project else noProject">
  <div class="page-title-subtitle">

    <div class="col-12">
      <h4 class="page-title">{{ project?.project_name }}</h4>
    </div>
    <div class="col-12">
      <p class="page-subtitle">Edit Project information, Iterations, and Students</p>
    </div>
    <div class="col-12">
      <a [routerLink]="['/projects', project.id]" *ngIf="project">
        <button class="btn btn-default back-button"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
      </a>       
    </div>
  </div>

  <div class="tabs col-12">
<ngb-tabset>
  <ngb-tab title="Project Info">
    <template ngbTabContent>
      <form novalidate (ngSubmit)="submit(editGroupForm)" [formGroup]="editGroupForm">

        <div class="form-group row" [class.has-danger]="editGroupForm.get('project_name').errors && (editGroupForm.get('project_name').dirty || editGroupForm.get('project_name').touched)">
          <label for="example-text-input" class="col-12 col-lg-2 col-form-label">Project Name</label>
          <div class="col-12 col-md-8 col-lg-4">
            <input class="form-control form-control-danger" type="text" placeholder="Project Name" formControlName="project_name">
            <div class="form-control-feedback" *ngIf="editGroupForm.get('project_name').errors && (editGroupForm.get('project_name').dirty || editGroupForm.get('project_name').touched)">
              Project name is required
            </div>            
          </div>
        </div>        

        <div class="form-group row" [class.has-danger]="editGroupForm.get('team_name').errors && (editGroupForm.get('team_name').dirty || editGroupForm.get('team_name').touched)">
          <label for="example-text-input" class="col-12 col-lg-2 col-form-label">Team Name</label>
          <div class="col-12 col-md-8 col-lg-4">
            <input class="form-control form-control-danger" type="text" placeholder="Team Name" formControlName="team_name">
            <div class="form-control-feedback" *ngIf="editGroupForm.get('team_name').errors && (editGroupForm.get('team_name').dirty || editGroupForm.get('team_name').touched)">
              Team name is required
            </div>            
          </div>
        </div>             

        <div class="form-group row" [class.has-danger]="editGroupForm.get('description').errors && (editGroupForm.get('description').dirty || editGroupForm.get('description').touched)">
          <label for="example-text-input" class="col-12 col-lg-2 col-form-label">Description</label>
          <div class="col-12 col-md-8 col-lg-4">
            <input class="form-control form-control-danger" type="text" placeholder="Description" formControlName="description">
            <div class="form-control-feedback" *ngIf="editGroupForm.get('description').errors && (editGroupForm.get('description').dirty || editGroupForm.get('description').touched)">
              Description is required
            </div>            
          </div>
        </div>             
      
        <div class="form-group row" [class.has-danger]="editGroupForm.get('enrollment_key').errors && (editGroupForm.get('enrollment_key').dirty || editGroupForm.get('enrollment_key').touched)">
          <label for="example-text-input" class="col-12 col-lg-2 col-form-label">Enrollment key</label>
          <div class="col-12 col-md-8 col-lg-4">
            <input class="form-control form-control-danger" type="text" placeholder="Enrollment key" formControlName="enrollment_key">
            <div class="form-control-feedback" *ngIf="editGroupForm.get('enrollment_key').errors && (editGroupForm.get('enrollment_key').dirty || editGroupForm.get('enrollment_key').touched)">
              Enrollment key is required
            </div>            
          </div>
        </div>  

        <div class="form-group row" [class.has-danger]="editGroupForm.get('logo').errors && (editGroupForm.get('logo').dirty || editGroupForm.get('logo').touched)">
          <label for="example-text-input" class="col-12 col-lg-2 col-form-label">Logo</label>
          <div class="col-12 col-md-8 col-lg-4">
            <input class="form-control form-control-danger" type="text" placeholder="Logo" formControlName="logo">
            <div class="form-control-feedback" *ngIf="editGroupForm.get('logo').errors && (editGroupForm.get('logo').dirty || editGroupForm.get('logo').touched)">
              Logo is required
            </div>            
          </div>
        </div>                         
        <button type="submit" class="btn btn-primary">Submit</button>          
      </form>
    </template>
  </ngb-tab>
  <ngb-tab *ngIf="iterations">
    <template ngbTabTitle>Iterations</template>
    <template ngbTabContent>
      <ul *ngFor="let iteration of iterations">
        <li>{{ iteration.name }}</li>
      </ul>
    </template>
  </ngb-tab> 
  <ngb-tab *ngIf="project">
    <template ngbTabTitle>Students</template>
    <template ngbTabContent>
      <ul *ngFor="let student of project.students">
        <li>{{ student.first_name + " " + student.last_name }}</li>
      </ul>
    </template>
  </ngb-tab>   
</ngb-tabset>
</div>

</div>

<template #noProject>No Project was found here. Go back to <a [routerLink]="['/projects']">Projects</a></template>
