@import "../../../../style/global-variables";
@import "../../../../style/lecturer-common";

.edit-project-container {
   //padding-top: 0; 
}

.back-button {
   box-shadow: none;
   padding: 0;
   padding-bottom: 8px;
}

.page-title-subtitle {
    padding-bottom: 0;
}

/deep/ .tabs {

    .tab-content > .tab-pane {
        padding-top: 31px;
    }

    ul.nav.nav-tabs {
        border-bottom: 0;

        .nav-link {
            border-bottom-right-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            color: hsla(217, 89%, 65%, 1);

            &.active {
                border-color: transparent #ddd #ddd;
                border-top: 0;
                color: $lecturer-body-font-color;
            }        
        }
    }
}